// Place all the styles related to the Chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  max-width: 1024px;
  margin: 0 auto;
  .chat{
    height: 600px;
  }
}
.message{
  width: 100%;
  height: 50px;
}

.overflow{
  overflow: auto;
  height: 15em;
}

h1{
  text-align: center;
}
