// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login{
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left:50%;
  margin: -110px 0 0 -100px;
  z-index: 100;
}

.errors{
  color: red;
  text-align: left;
  margin-bottom: 5px;
}
