<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <% if current_user %>
      <div class='item' >
        <p> Hello, <%= current_user.nick %> </p>
      </div>
      <div class="item">
        <%=link_to 'Log out', logout_path, method: :delete, :class => "ui primary button"%>
      </div>
    <% end %>
    <% if !current_user %>
      <div class="item">
        <%=link_to 'Sign Up', signup_path, :class => "ui primary button"%>
      </div>
      <div class="item">
        <%=link_to 'Log In', login_path, :class => "ui primary button"%>
      </div>
    <% end %>
  </div>
</div>
