<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <div class="item">
       <%=link_to 'Sign Up', signup_path, :class => "ui primary button"%>
   </div>
   <div class="item">
      <%=link_to 'Log In', login_path, :class => "ui primary button"%>
  </div>
  </div>
</div>
